<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Wrecker!</title>
</head>
<body>
    <h1>Welcome to the MOVIE WRECKER!</h1> 
    <h2>Please search for your favorite movies:</h2>
    <form action="{{url_for('recommender')}}"> <!-- we pass the name of the function from application.py-->
    {% for i in range(3) %}
    <input type="text" name="movies">
    <br>
    {% endfor %}
        <br>
    <input type="submit">
    </form>

</body>
</html>
